.p36-start-btn{
    width: 100%;
    margin-top: 20px;
}

.p36-slogan{
    font-size: 16pt;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.p36-startpage-btn-container{
    margin-top:80px;
}