<div class="p36-container">


    <h3>Registration</h3>

    <div class="md-form p36-reg-container">
        <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
          <div *ngIf="personalForm" class="md-form">
              <h3 class="p36-reg-title">Personal Data</h3>
            <input mdbInput placeholder="First Name" type="text" id="firstName" class="form-control p36-input" formControlName="firstName">
            <!--<label for="form58">Example label</label>-->
            <input mdbInput placeholder="Last Name" type="text" id="lastName" class="form-control p36-input" formControlName="lastName">
            <input mdbInput placeholder="Email" type="text" id="email" class="form-control p36-input" formControlName="emailAddress">
            <div class="p36-btn-container">
               <button type="button" class="btn p36-btn" (click)="goToNextStep()" [disabled]="!personalValid" id="regNextButton">Next</button>

            </div>
          </div>
          <div *ngIf="addressForm">
              <div formGroupName="address" class="md-form">
              <h3 class="p36-reg-title">Address</h3>
              <input mdbInput placeholder="Country" type="text" id="country" class="form-control p36-input" formControlName="country">
              <input mdbInput placeholder="State" type="text" id="state" class="form-control p36-input" formControlName="state">
              <input mdbInput placeholder="Zip Code" type="text" id="zip" class="form-control p36-input" formControlName="zip">
              <input mdbInput placeholder="City" type="text" id="city" class="form-control p36-input" formControlName="city">
              <input mdbInput placeholder="Street" type="text" id="street" class="form-control p36-input" formControlName="street">
                  <div class="p36-btn-container">
            <button type="submit" class="btn p36-btn" [disabled]="!regForm.valid" (click)="submitRegData()" id="regDoneButton">Done</button>
                  </div>
              </div>
          </div>
        </form>
    </div>

</div>