<div class="p36-container">


    <h3>Registration</h3>

    <div class="md-form p36-reg-container">
        <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
            <div *ngIf="personalForm" class="md-form">
                <h3 class="p36-reg-title">Personal Data</h3>
                <div class="p36-input-container">
                    <input placeholder="First Name"
                           type="text"
                           id="firstName"
                           class="form-control p36-input"
                           formControlName="firstName">
                    <div class="p36-input-error"
                         *ngIf="isInputInvalid('firstName')">
                        First Name is required.
                    </div>
                </div>
                <!--<label for="form58">Example label</label>-->
                <div class="p36-input-container">
                    <input placeholder="Last Name"
                           type="text"
                           id="lastName"
                           class="form-control p36-input"
                           formControlName="lastName">
                    <div class="p36-input-error"
                         *ngIf="isInputInvalid('lastName')">
                        Last Name is required.
                    </div>
                </div>

                <div class="p36-input-container">
                    <input placeholder="Email"
                           type="email"
                           id="email"
                           class="form-control p36-input"
                           formControlName="emailAddress">
                    <div class="p36-input-error"
                         *ngIf="isInputInvalid('emailAddress')">
                        Valid email is required.
                    </div>
                </div>
                <div class="p36-input-container">
                    <input placeholder="Password"
                           type="password"
                           id="passw1"
                           class="form-control p36-input"
                           formControlName="passw1">
                    <div class="p36-input-error"
                         *ngIf="isInputInvalid('passw1')">
                        Password is required.
                    </div>
                </div>
                <div class="p36-input-container">
                    <input placeholder="Password"
                           type="password"
                           id="passw2"
                           class="form-control p36-input"
                           formControlName="passw2">
                    <div class="p36-input-error"
                         *ngIf="isPasswordInvalid('passw2')">
                        Password doesn't match.
                    </div>
                </div>
                <div class="p36-btn-container p36-reg-btn-container">
                    <button type="button"
                            class="btn p36-btn"
                            (click)="goToNextStep()"
                            [disabled]="!personalValid"
                            id="regNextButton">Next
                    </button>

                </div>
            </div>
            <div *ngIf="addressForm">
                <div formGroupName="address" class="md-form">
                    <h3 class="p36-reg-title">Address</h3>

                    <div class="p36-input-container">
                        <input placeholder="Country"
                               type="text" id="country"
                               class="form-control p36-input"
                               formControlName="country">
                        <div class="p36-input-error"
                             *ngIf="isAddressInputInvalid('country')">
                            Country is required.
                        </div>
                    </div>

                    <div class="p36-input-container">
                        <input placeholder="State"
                               type="text"
                               id="state"
                               class="form-control p36-input"
                               formControlName="state">
                    </div>

                    <div class="p36-input-container">
                        <input placeholder="Zip Code"
                               type="text"
                               id="zip"
                               class="form-control p36-input"
                               formControlName="zip">
                        <div class="p36-input-error"
                             *ngIf="isAddressInputInvalid('zip')">
                            Zip code is required.
                        </div>
                    </div>

                    <div class="p36-input-container">
                        <input placeholder="City"
                               type="text"
                               id="city"
                               class="form-control p36-input"
                               formControlName="city">
                        <div class="p36-input-error"
                             *ngIf="isAddressInputInvalid('city')">
                            City is required.
                        </div>
                    </div>
                    <div class="p36-input-container">
                        <input placeholder="Street"
                               type="text"
                               id="street"
                               class="form-control p36-input"
                               formControlName="street">
                        <div class="p36-input-error"
                             *ngIf="isAddressInputInvalid('street')">
                            Street address is required.
                        </div>
                    </div>
                    <div class="p36-btn-container p36-reg-btn-container">
                        <button type="submit" class="btn p36-btn" [disabled]="!regForm.valid" (click)="submitRegData()"
                                id="regDoneButton">Done
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>